@charset "UTF-8";

/*Подключение функций, миксинов /=============================================================================*/

/*=============================================================================================================*/

/*Подключение шрифтов /=============================================================================*/

/* @import 'fonts.scss'; */

/*=============================================================================================================*/

/*Размер шрифта по умолчанию /=============================================================================*/

/*=============================================================================================================*/

/*Контейнер и сетка /=============================================================================*/

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.625rem;
  width: 100%;
}

/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */

/*=============================================================================================================*/

/*Иконочный шрифт /=============================================================================*/

/* @import 'icons'; */

/*=============================================================================================================*/

/*Обнуление /=============================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*=============================================================================================================*/

/*Основные цвета /=============================================================================*/

:root {
  --main-color: #cdc6c3;
  --color-header: #f4efec;
}

/*=============================================================================================================*/

/*Основные стили /=============================================================================*/

body {
  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url(../img/bg.webp) 0 0/70px repeat;
  color: var(--main-color);
}

.wrapper {
  min-height: 200%;
  width: 100%;
  overflow: hidden;
}

/*=============================================================================================================*/

.welcome {
  margin-bottom: 12.5rem;
}

.welcome__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcome__title {
  font-size: 11.25rem;
  font-weight: 900;
  max-width: 37.5rem;
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  position: relative;
  z-index: 2;
  will-change: transform;
  color: var(--color-header);
}

.welcome__image {
  will-change: transform;
  position: absolute;
  pointer-events: none;
  top: 6.25rem;
  right: 0;
  width: 55%;
  z-index: -1;
  padding-bottom: 100%;
}

.welcome__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=============================================================================================================*/

.main {
  padding-bottom: 43.75rem;
}

.main__column {
  will-change: transform;
  /*         display: flex;
          flex-direction: column;
          justify-content: center; */
}

.main__column_1 {
  padding-top: 7.5rem;
}

.main__item:not(:last-child) {
  margin-bottom: 6.25rem;
}

.main__image {
  width: 100%;
  padding-bottom: 60%;
  overflow: hidden;
  border-radius: 0.3125rem;
  position: relative;
}

.main__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__title {
  padding-top: 6.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.1111111111em;
}

.main__text {
  line-height: 150%;
  padding-bottom: 6.25rem;
}

.main__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

@media (min-width: 767.98px) {
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .main__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1600px) {
  .welcome {
    margin-bottom: calc(55px + 145 * ((100vw - 320px) / 1280));
  }

  .welcome__title {
    font-size: calc(60px + 120 * ((100vw - 320px) / 1280));
  }

  .welcome__title {
    margin-top: calc(50px + 100 * ((100vw - 320px) / 1280));
  }

  .welcome__title {
    margin-bottom: calc(50px + 100 * ((100vw - 320px) / 1280));
  }

  .welcome__image {
    top: calc(20px + 80 * ((100vw - 320px) / 1280));
  }

  .main {
    padding-bottom: calc(30px + 670 * ((100vw - 320px) / 1280));
  }

  .main__column_1 {
    padding-top: calc(50px + 70 * ((100vw - 320px) / 1280));
  }

  .main__item:not(:last-child) {
    margin-bottom: calc(45px + 55 * ((100vw - 320px) / 1280));
  }

  .main__title {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1280));
  }

  .main__text {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767.98px) and (max-width: 1600px) {
  .main__container {
    -webkit-column-gap: calc(30px + 30 * ((100vw - 320px) / 1280));
       -moz-column-gap: calc(30px + 30 * ((100vw - 320px) / 1280));
            column-gap: calc(30px + 30 * ((100vw - 320px) / 1280));
  }
}

@media (max-aspect-ratio: 1/1) {
  .welcome__image {
    width: 90%;
  }
}

@media (max-aspect-ratio: 1/2) {
  .welcome__image {
    width: 110%;
    top: 3.4375rem;
  }
}