@use 'sass:math';
/*Подключение функций, миксинов /=============================================================================*/
@import 'functions';
/*=============================================================================================================*/
/*Подключение шрифтов /=============================================================================*/
/* @import 'fonts.scss'; */
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 16; //?Заполнить
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw:1400; //?Заполнить
$minwidth:rem(320);
$md1:($mw+12)px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;
[class*="__container"] {
    max-width: rem($mw);
    margin: 0 auto;
    padding: 0 rem(10);
    width: 100%;
}
/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
/* @import 'icons'; */
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1600; //ширина макета //?Заполнить
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
:root{
    --main-color: #cdc6c3;
    --color-header: #f4efec;
}
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body{
    font-size: rem($mainFontSize);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url(../img/bg.webp) 0 0 / 70px repeat;
    color: var(--main-color);
}
.wrapper{
    min-height: 200%;
    width: 100%;
    overflow: hidden;
}
/*=============================================================================================================*/
.welcome {
    @include adaptiv-value('margin-bottom', 200, 55, 1);
    &__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
    }

    &__title {
        @include adaptiv-value('font-size', 180, 60, 1);
        font-weight: 900;
        max-width: rem(600);
        @include adaptiv-value('margin-top', 150, 50, 1);
        @include adaptiv-value('margin-bottom', 150, 50, 1);
        position: relative;
        z-index: 2;
        will-change: transform;
        color: var(--color-header);
    }

    &__image {
        will-change: transform;
        position: absolute;
        pointer-events: none;
        @include adaptiv-value('top', 100, 20, 1);
        right: 0;
        width: 55%;
        z-index: -1;
        padding-bottom: 100%;
        @media (max-aspect-ratio: 1/1){
            width: 90%;
        }
        @media (max-aspect-ratio: 1/2){
            width: 110%;
            top: rem(55);
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*=============================================================================================================*/
.main {
    @include adaptiv-value('padding-bottom', 700, 30, 1);
    &__container {
        @media (min-width: $md3){
            display: flex;
            @include adaptiv-value('column-gap', 60, 30, 1);
        }
    }

    &__column {
        will-change: transform;
        @media (min-width: $md3){
            flex: 0 1 50%;
        }
/*         display: flex;
        flex-direction: column;
        justify-content: center; */
        &_1 {
            @include adaptiv-value('padding-top', 120, 50, 1);
        }

        &_2 {}
    }

    &__item {
        &:not(:last-child) {
            @include adaptiv-value('margin-bottom', 100, 45, 1);
        }
    }

    &__image {
        width: 100%;
        padding-bottom: 60%;
        overflow: hidden;
        border-radius: rem(5);
        position: relative;
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        @include adaptiv-value('padding-top', 100, 30, 1);
        font-weight: 700;
        font-size: rem(20);
        margin-bottom: em(20, 18);
    }

    &__text {
        line-height: 150%;
        @include adaptiv-value('padding-bottom', 100, 30, 1);
        p{
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }
}

/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
